<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Melbourne Business Census</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Melbourne Business Census Dashboard</h1>
                <p>Use the interactive charts below to explore the dataset</p>
                <input type="text" id="sampleSlider" />
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <h5>census year.:</h5>
                    <select id="selDataset" onchange="optionChanged(this.value)"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <h3>XXXX</h3>
                <div id="bar"></div>
            </div>
            <div class="col-md-6 text-center">
                <h3>XXXX</h3>
                <div id="pie"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>XXdfXX</h3>
                
                <div id="XXXX"></div>
            </div>
        </div>
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script src="app.js"></script> -->
    <!-- sams files -->
    
    <link rel="stylesheet" href="../static/css/rSlider.min.css">
    <script src="../static/js/rSlider.min.js"></script>
    <script src="../static/js/dashapp.js"></script>
</body>

</html>